---
layout: apidoc
title:  "MirukenJS Documentation"
date:   2015-06-02 00:00:00
categories: apidocs
yuiGridsUrl: {{yuiGridsUrl}}
yuiSeedUrl: {{yuiSeedUrl}}
projectAssets: {{projectAssets}}
---
<div id="bd" class="yui3-g">
    <div class="yui3-u-1-4">
        <div id="docs-sidebar" class="sidebar apidocs">
            {{>sidebar}}
        </div>
    </div>
    <div class="yui3-u-3-4">
        {{>options}}
        <div class="apidocs">
            <div id="docs-main">
                <div class="content">
                    {{>layout_content}}
                </div>
            </div>
        </div>
    </div>
</div>
