<div class="region-demo">
  <div class="row">
    
    <div ng-repeat="x in [1]">
      <div class="col-sm-4">
        
        <div class="btn-group" role="group">
            <button class="btn btn-default" ng-click="vm.partialOne()">One</button>
            <button class="btn btn-default" ng-click="vm.partialTwo()">Two</button>
            <button class="btn btn-default" ng-click="vm.partialThree()">Three</button>
          </div>

        <div region="'content'">
          <h3>Default Content</h3>
          <p>Click the buttons above load a new partial view.</p>
        </div>  
      </div>
    </div>

  </div>  
</div>
