.tern-port
.idea
.DS_Store
.orig
bin/
gen/
build/
debug/
_build/
*~
node_modules
bower_components
documentation/docs
bundles/
nbproject/
coverage/
/lib/merrittbase2.js
/wiki/Features and Benefits.MD
.vs/
