    <ul id="api-options">
        Show:
        <li class="ck-button">
            <label for="api-show-inherited">
                <input type="checkbox" id="api-show-inherited" name="api-show-inherited" checked>
                <span>Inherited</span>
            </label>
        </li>
        <li class="ck-button">
            <label for="api-show-protected">
                <input type="checkbox" id="api-show-protected" name="api-show-protected">
                <span>Protected</span>
            </label>
        </li>
        <li class="ck-button">
            <label for="api-show-private">
                <input type="checkbox" id="api-show-private" name="api-show-private">
                <span>Private</span>
            </label>
        </li>
        <li class="ck-button">
            <label for="api-show-deprecated">
                <input type="checkbox" id="api-show-deprecated" name="api-show-deprecated">
                <span>Deprecated</span>
            </label>
        </li>
    </ul>

