<div>
	<p><button class="btn btn-primary" ng-click="vm.showWrappedModal()">With Header And Footer</button></p>
	<p><button class="btn btn-primary" ng-click="vm.showWrappedModalWithHeader()">With Header</button></p>
	<p><button class="btn btn-primary" ng-click="vm.showWrappedModalWithFooter()">With Footer</button></p>
	<p><button class="btn btn-primary" ng-click="vm.showFullModal()">Full Modal</button></p>
	<p><button class="btn btn-primary" ng-click="vm.showSelfClosingModal()">Self Closing Modal</button></p>
	<p><button class="btn btn-primary" ng-click="vm.showConfirmModal()">Confirm Modal</button></p>
	<p><button class="btn btn-primary" ng-click="vm.showModalWithButtons()">Modal With Buttons</button></p>
</div>
